@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #faf8ff;
    color: #131b2e;
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f2f3ff;
}

::-webkit-scrollbar-thumb {
  background: #bcc9c6;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00685f;
}
